/* [organization_id] */
.orgMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: auto;
  background-color: #FFF7F2;
}

.orgMain > h1 {
  font-size: 40px;
  margin-top: 1rem;
}

.orgMain svg:hover {
  opacity: 60%;
}

.projects {
  min-height: 30vh;
  display: grid;
  justify-content: center;
  gap: 1em;
  padding: 1em 2em 2em 2em;
}

.projectsEmpty {
  border: 1px dashed rgb(212, 162, 119);
  border-radius: 6px;
  min-height: 30vh;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
  padding: 2rem;
}

.backButton {
  max-width: 200px;
  background-color: #0c322c;
}

/* Organization/all */
.orgCard {
  border: 1px solid sandybrown;
  background-color: rgba(244, 165, 96, 0.055);
  border-radius: 2px;
  padding: 2em;
  width: 60vw;
}

.orgCard:hover {
  background-color: rgba(244, 165, 96, 0.096);
}

.orgCard h2 {
  color: #0c322c;
}

.orgCard p {
  padding: 1em 0;
}
/*  */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: auto;
  background-color: #fff7f2;
}

.post_background {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 600px;
  background-color: rgb(223, 233, 232);
  margin-top: 100px;
  padding: 1rem;
}

.post_form_style {
  width: 100%;
}

.post_form_line {
  margin: 20px 0;
}

.post_form_textfield {
  margin: 20px 0;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
