.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: auto;
  background-color: #FFF7F2;
}

.post_background {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 600px;
  background-color: rgb(223, 233, 232);
  margin-top: 100px;
  padding: 1rem;
}

.post_form_style {
  width: 100%;
}

.post_form_line {
  margin: 20px 0;
}